.project_details {
  padding: 2rem;
}
.project_details h1,
.project_details h2,
.project_details p {
  margin-bottom: 0.5em;
}
.project_details h1 {
  background-color: #222;
  color: #ffbb33;
  padding: 0.4em;
}
.project_details span {
  font-weight: bold;
}
.details_container,
.service_form_container {
  border-bottom: 1px solid #7a7a7a;
  margin-bottom: 1.2rem;
  padding-bottom: 1.2rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.btn {
  background-color: #222;
  color: #fff;
  text-decoration: none;
  padding: 0.5em 1.5em;
  transition: 0.5s;
  max-height: 40px;
  cursor: pointer;
  border: none;
}
.btn:hover {
  color: #ffbb33;
}
.project_info{
    width: 100%;
}
