.container {
  max-width: 1200px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  flex-wrap: wrap;
}
.min-height {
  min-height: 75%;
}

.start {
  justify-content: flex-start;
  flex-wrap: wrap;
}

.column {
  flex-direction: column;
  justify-content: flex-start;
}

@media screen and (max-width: 850px) {
  .start {
    justify-content: center;
  }
}
