.navBar{
    display: flex;
    justify-content: space-between;
    background-color: #222;
    padding: 1rem;
}
.list{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 1rem;
}
.item a{
    color: #fff;
    text-decoration: none;
}
.item a:hover{
    color: #ffbb33;

}